*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: hsl(180, 52%, 96%);
}
.header{
    background: url('./images/bg-header-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: cover;
    height: 70px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 50px;
}
.jobCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 60px;
    background-color: #fff;
    width: 80%;
    border-left: 2px solid #45b099;
}
.leftSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.logo{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 70px;
}
.jobDesc{
    display: flex;
    flex-direction: column;
    
}
.top{
    display: flex;
    flex-direction: row;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.rightSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
button{
    height: 30px;
    padding: 5px 5px;
    margin-left: 10px;
    color: #45b099;
    background-color:  hsl(180, 31%, 95%);
    border: none;
    border-radius: 3px;
}
/* #new{
    margin-left: 5px;
    background-color: #45b099;
    padding: 4px;
    border-radius: 10px;
}
#featured{
    margin-left: 5px;
    background-color: #111;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
} */